.gs-container {
      display: grid;
      height: 100vh;
      width: 100vw;
      grid-template-columns: [left-side] 10vw [first] 80vw [second] 10vw [right-side];
      grid-template-rows: [top] 15vh 70vh 15vh;
}

#gs-main {
      background-color: rgba(0, 0, 0, 0.5);

      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
}

#gs-text-main {
      margin: auto 15% auto 15%;
      font-size: 2vh;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

      float: left;
}

#gs-text-main a {
      text-decoration: none;
}


#gs-text-main a:hover {
      color: #bd77ff;

      transition: 0.3s;
}

#gs-image {
      float: right;

      height: auto;
      width: 80%;

      margin: auto;
}

#gs {
      background-color: rgba(0, 0, 0, 0.5);

      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
}

#box-text {      
      margin: auto 0 auto 15%;
      font-size: 2vh;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

      float: left;
}

@media only screen and (max-width: 900px) {
      .gs-container {
            height: 200vh;
            grid-template-rows: [top] 30vh 140vh 30vh;
      }
}

@media only screen and (max-width: 600px) {      
      .gs-container {
            height: 110vh;
            grid-template-rows: [top] 15vh 80vh 15vh;
      }

      #image-box {
            display: none;
      }

      #gs-text-box {
            height: 100%;
      }
}