#header {
      height: 75px;
      width: 100%;

      background-color: rgb(10, 10, 10, 1);

      display: flex;
      flex-direction: row;
      justify-content: space-between;
}

h1#header-name {
      background-color: rgb(10, 10, 10, 1);

      font-size: 35px;
      margin: 17.5px 0px 17.5px 50px;

      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

      cursor: default;
}

#header-menu {
      background-color: rgb(10, 10, 10, 1);

      display: flex;
      gap: 25px;
      font-size: 20px;
      
      margin: 20px 50px 20px 0px;

      top: 0px;
      right: 0px;
}

#header-menu h2 a {
      background-color: rgb(10, 10, 10, 1);

      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

      transition: 0.2s;

      text-decoration: none;
}

#header-menu h2 a:hover {
      color: #bd77ff;

      transition: 0.3s;
}
