@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



/*
      GENERAL STUFF
*/

body {
      margin: 0;
      padding: 0;

      font-family: 'Roboto', sans-serif;

      -ms-overflow-style: none;

    cursor: default;
}

body::-webkit-scrollbar {
    display: none;
}

a {
      text-decoration: none;
}

.hidden {
      opacity: 0;
      filter: blur(5px);
      transform: translateX(-25%);
      transition: all 1s ease-out;
}

@media(prefers-reduced-motion) {
      .hidden {
            transition: none;
      }
}

.visible {
      opacity: 1;
      filter: blur(0);
      transform: translateX(0);
}

.regularLink {
      text-decoration: none;
      color: black;
      transition: 0.3s;
}

.regularLink:hover {
      color: #e895f5;
}



/*
      HEADER STUFF
*/

header {
      width: 100%;
      height: 6vh;

      display: flex;
      justify-content: space-between;
      align-items: center;

      background-color: #ffffff;
}

header a {
      color: #171717;
      text-decoration: none;
      transition: 0.3s;
}

header a:hover {
      color: #212121;
      text-shadow: 1px 1px 1.25px #393939;
}

.headerContentLeft {
      margin-left: 2.5vw;
      height: 5vh;

      display: flex;
      justify-content: space-between;
      align-items: center;
      
      cursor: default;
}

.headerContentLeft:hover > h1:first-child {
      color: #212121;
      text-shadow: 1px 1px 2px black;
}

.headerContentLeft:hover > img:nth-child(2) {
      animation-name: rotateFlowerIn;
}

.headerContentLeft h1 {
      color: #171717;
      text-shadow: 0.5px 0.5px 1px black;
      transition: 0.3s;
}

.headerContentLeft img {
      margin-left: 15px;
      height: 3vh;
      width: auto;

      animation-name: rotateFlowerOut;
      animation-duration:  1s;
      animation-timing-function: ease-in-out;

      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
}

.headerContentRight {
      margin-right: 2.5vw;
      height: 5vh;
      width: auto;

      display: flex;
      justify-content: right;
      align-items: center;
}

.headerContentRight h2 {
      margin-left: 1vw;
}



/*
    FOOTER STUFF
*/

footer {
    background-color: #212121;

    width: 100%;
    height: 25vh;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    color: white;
}

footer a {
      color: white;
      text-decoration: none;
}

/*
      MAIN INFO STUFF
*/

.mainInfo {
      height: 50vh;
      width: 100%;

      overflow: hidden;

      display: flex;
      justify-content: center;
      align-items: center;
}

.mainInfoBanner {
      background-image: url(../images/placeholder.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;

      background-position: top center;

      position: fixed;

      z-index: -1;


      height: 100vh;
      width: 100vw;

      filter: blur(7.5px);

      transform: scale(1.03125);
}

.mainInfoBox {
      position: absolute;

      height: 30vh;
      width: 50vw;

      text-align: center;

      color: white;

      cursor: default;
}

.mainInfoBox h1 {
      font-size: 10vh;
      color: #f2befa;
}

.mainInfoBox h2 {
      font-size: 2.5vh;
      font-weight: 100;
      transition-delay: 200ms;
}

.mainInfoBox a {
      color: white;
      transition: 0.3s;
}

.mainInfoBox a:hover {
      color: #f4afff;
}

.additionalInfoBox {
      height: 44vh;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: #ffffff;
}

.additionalInfoTextBox {
      width: 40vw;
      box-sizing: border-box;
      transition-delay: 500ms;
      text-align: justify;
}

.additionalInfoTextBox h2 {
      margin-left: 1vw;
      font-size: 3vh;
}

.additionalInfoTextBox p {
      font-size: 1.5vh;
}



/*
      PROJECT SHOWCASE STUFF
*/

.projectShowcase {
    box-sizing: border-box;

    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    padding-bottom: 5vh;
}

.projectShowcase h1 {
      font-size: 7.5vh;
}

.projectShowcase h3 {
    font-size: 3vh;
}

.currentProject {
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.currentProject h1 {
    font-size: 5vh;
    margin-left: 2.5vw;
}

.project {
    box-sizing: border-box;

    width: auto;

    margin-bottom: 5vh;
}

