/* GENERAL STUFF */

* {
      color: white;

      padding: 0; 
      margin: 0;
}

body {
      background-color: #151515;
      -ms-overflow-style: none;
      scrollbar-width: none;
}

body::-webkit-scrollbar {
      display: none;
}

/* CSS GRID*/

.main-container {
      display: grid;
      height: 92.5vh;
      width: 100vw;
      grid-template-columns: [left-side] 15vw [first] auto [second] 15vw [right-side];
      grid-template-rows: [top] 10vh 72.5vh 10vh [bottom];
}

.base-container {
      display: grid;
      height: 100vh;
      width: 100vw;
      grid-template-columns: [left-side] 10vw [first] 80vw [second] 10vw [right-side];
      grid-template-rows: [top] 15vh 70vh 15vh;
}

/*DEBUG STUFF*/

#debug {
      border: 5px red solid;
      box-sizing: border-box;
}


/* PFP AND NAME */

#main-block {
      display: flex;
      justify-content: center;
      flex-direction: column;

      text-align: center;

      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
}

#main-block #username {
      font-size: 65px;
      text-align: center;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

      margin-top: 35px;

      transition: 0.2s;
}

.hovertext {
      text-decoration: none;
}

.hovertext:hover {
      color: #bd77ff;

      transition: 0.3s;

      cursor: default;
}

.hovertextlink {
      text-decoration: none;
}

.hovertextlink:hover {
      color: #bd77ff;

      transition: 0.3s;

      cursor:pointer;
}

#profile-picture {
      clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
      animation: clipRotateAnim 20s linear infinite;
      position: relative;
      overflow: hidden;

      width: 384px;
      height: 384px;

      display: block;
      margin-left: auto;
      margin-right: auto;
}

#profile-picture:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url(../images/plague_purp.png);
      background-size: cover;
      animation: inherit;
      animation-direction: reverse;
}

/* PROFILE PICTURE ANIMATION */

@keyframes clipRotateAnim {
      to {
          transform: rotate(360deg)
      }
}



/* ABOUT ME */

#about-me {
      background-color: rgba(0, 0, 0, 0.5);

      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
}

#about-me-text {
      margin: auto 0 auto 15%;
      font-size: 2vh;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

      float: left;
}

#about-me-image {
      float: right;

      height: auto;
      width: 80%;

      margin: auto;

      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
}

.box-left, .box-right {
      width: 50%;
      height: 100%;

      display: flex;
      justify-content: center;
}

.box-left {
      float: left;
}

.box-right {
      float: right;
}




/* RESPONSIVITY */

@media only screen and (max-width: 900px) {
      .box-left, .box-right {
            width: 100%;
            float: none;
            height: 50%;
      }

      #about-me-text {
            margin: auto 15% auto 15%;
      }

      #about-me-image {
            padding: 0;
      }

      .base-container {
            height: 200vh;
            grid-template-rows: [top] 15vh 140vh 15vh;
      }

}

@media only screen and (max-width: 600px) {

      .box-left {
            height: 100%;
      }

      .box-right {
            height: 0;
      }

      #main-block {
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;
      }

      #profile-picture {
            animation: none;
      }

      #about-me-image {
            display: none;
      }

      .base-container {
            height: 110vh;
            grid-template-columns: [left-side] 10vw [first] 80vw [second] 10vw [right-side];
            grid-template-rows: [top] 15vh 80vh 15vh;
      }
}

@media only screen and (max-width: 384px) {
      #profile-picture {
            width: 90vw;
            height: 90vw;
      }
}