* {
      color: white;

      padding: 0; 
      margin: 0;
}

body {
      background-color: #151515;
}

#display-block {
      display: flex;
      justify-content: center;
      
      width: 95%;
      height: 95%;

      padding: 2.5%;
}

#main-block {
      display: flex;
      justify-content: center;
      flex-direction: column;

      text-align: center;
}

#main-block #username {
      font-size: 65px;
      text-align: center;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

      margin-top: 35px;

      transition: 0.2s;
}

#main-block #username:hover {
      color: #bd77ff;

      transition: 0.3s;

      cursor: default;
}

#profile-picture {
      clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
      animation: clipRotateAnim 20s linear infinite;
      position: relative;
      overflow: hidden;

      width: 384px;
      height: 384px;
}

#profile-picture:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url(../images/purplik-nonagon-base.png);
      background-size: cover;
      animation: inherit;
      animation-direction: reverse;
}

/* ANIMATIONS */

@keyframes clipRotateAnim {
      to {
          transform: rotate(360deg)
      }
}